<% provide(:title, "Queries") %>
<% @queries.each do |query| %>
  <%= link_to query do %>
    <paper-shadow z="1" class="card">
      <paper-ripple fit></paper-ripple>
      <div class="name">
        <%= query.name %>
      </div>
      <div class="queried_at">
        Last Updated <%= query.last_queried_at %>
      </div>
      <div class="clear"></div>
    </paper-shadow>
  <% end %>
<% end %>

<br>

<%= link_to new_query_path, id:"add-button" do %>
  <paper-fab icon="add"></paper-fab>
<% end %>
