<% provide(:title, @query.name) %>
<% provide(:icon, "arrow-back") %>

<% content_for :toolbar do %>
  <% link_to @query, method: :delete, data: { confirm: 'Are you sure?' } do %>
    <paper-icon-button icon="delete"></paper-icon-button>
  <% end %>
<% end %>

<%= render 'form' %>
<br style="clear:both;" />

<div id="result_container">
  <h2>Results</h2>
  <div id="result">
    <div class="spinner">
      <paper-spinner active></paper-spinner>
      <p> Please Wait... </p>
    </div>
  </div>
  <script type="text/javascript">
    window.sleep_time = 100;
    $.ajax({
      type: "GET",
      url: "<%= result_path(@query.id) %>",
      success: function(data) {
           $('#result').html(data);
      },
      error: function(xhr) {
        console.log(xhr.status);
        self = this;
        window.sleep_time = Math.min(window.sleep_time * 1.5, 5000);
        if(xhr.status == 503) {
          console.log("Sleeping for " + window.sleep_time)
          setTimeout(function() {
            $.ajax(self);
          }, window.sleep_time);
        }
      }

    });
  </script>
</div>
