<% provide(:title, @query.name) %>
<% provide(:icon, "arrow-back") %>


<%= render 'form' %>
<br style="clear:both;" />

<div id="result_container">
  <h2>Results</h2>
  <div id="result">
    <div id="spinner">
      <paper-spinner active></paper-spinner>
      <p> Please Wait... </p>
    </div>
  </div>
  <script type="text/javascript">
    $.ajax({
      type: "GET",
      url: "<%= result_path(@query.id) %>",
      success: function(data) {
           $('#result').html(data);
      },
      error: function(xhr) {
        console.log(xhr.status);
        self = this;
        if(xhr.status == 503) {
          setTimeout(function() {
            $.ajax(self);
          }, 2000);
        }
      }

    });
  </script>
</div>
